################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/register_app/.vs
/register_app/bin
/register_app/obj